
.auth-title {
  font-family: Inter;
  font-weight: var(--font-medium);
  font-style: Medium;
  font-size: var(--font-lg);
  line-height: 18px;
  letter-spacing: -1%;
  color: var(--text-primary);
  text-align: center;
  margin-bottom: 10px;
}

.auth-subtitle {
  font-size: var(--font-sm);
  margin-bottom: var(--spacing-4xl);
  text-align: center;
  color: #9A9CAE;

}