::ng-deep .auth-otp-wrapper-card {
display: flex;
  flex-direction: column;
  align-items: center;
}

::ng-deep .auth-otp-title {
  margin-top: var(--padding-3xl);
  margin-bottom: 0;

}

::ng-deep .auth-subtitle.auth-otp-subtitle {
  font-size: var(--font-sm);
  margin-bottom: 6px;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  line-height: 14px;
  letter-spacing: 0%;
  text-align: center;
  color: #9A9CAE;
  position: relative;
  display: inline-grid;
  gap: 10px;
  margin-top: calc(var(--padding-3xl) - 10px);
  width: 100%;
span {
  font-family: Inter;
font-weight: 500;
font-style: Medium;
font-size: 14px;
line-height: 14px;
letter-spacing: 0%;
text-align: center;
color: #f5f5f5;
}

}