<app-auth-wrapper>
  <app-auth-header
    [title]="'Sign in'"
    [subTitle]="'Sign in securely to  UFM  '"
  ></app-auth-header>
  <app-horizontal-separator [label]="'input '"></app-horizontal-separator>

  <app-auth-form
    [submitText]="'Next'"
    [loading]="isLoading()"
    [disabled]="!isValid"
    (formSubmit)="onSubmit()"
  >
    <app-form-field
      [formControl]="passwordControl"
      [label]="'Password'"
      [placeholder]="'Enter Password'"
      [type]="'password'"
      [required]="true"
      [labelAction]="forgetPassword"
      [labelActionText]=" 'Forgot Password?' "
      [errorMessages]="{ minlength: 'Password must be at least 6 characters' }"
    />
  </app-auth-form>
</app-auth-wrapper>